@use '../partials/mixins' as mx;

.main {

  &__div {
    margin: 2em 0;

    &--uncompleted {}
    &--completed .li__h3 { opacity: 0.3; }
  }
  &__p {
    margin: 2em 0;
    font-weight: bold;
  }
  &__ul {}
  &__li {
    margin: 1em 0;
    @include mx.flex(row, nowrap, flex-start, center);
    gap: 1em;
    animation: fadeInDown 200ms ease;
  }
  &__button {}
}

.li {
  &__div {}
  &__input {
    width: 1.5625em;
    height: 1.5625em;
    border: 2px solid var(--c-border);
    border-radius: 0.5em;
    flex-shrink: 0;
    background-color: var(--c-white);
    cursor: pointer;

    &:checked { 
      position: relative;

      &::before {
        content: '';
        width: 13px;
        height: 1px;
        position: absolute;
        top: calc(50% - 0.5px);
        left: calc(50% - 5.5px);
        transform: rotate(-45deg);
        background-color: var(--c-black);
      }
      &::after {
        content: '';
        width: 5px;
        height: 1px;
        position: absolute;
        top: 12.85px;
        left: 3.75px;
        transform: rotate(60deg);
        background-color: var(--c-black);
      }
    }
  }
  &__h3 { font-weight: bold; }
  &__span {
    font-size: 0.8em;
    opacity: 0.6;
  }
}

.button {
  width: 4.6875em;
  height: 4.6875em;
  position: fixed;
  bottom: 1em;
  right: 1em;
  @include mx.flex(row, nowrap, center, center);
  background-color: var(--c-blue);
  border-radius: 50%;
  cursor: pointer;
  transition: all 200ms ease;

  &::before {
    content: '';
    width: 33px;
    height: 2px;
    position: absolute;
    background-color: white;
  }
  &::after {
    content: '';
    width: 33px;
    height: 2px;
    position: absolute;
    background-color: white;
    transform: rotate(90deg);
  }
  &:hover { background-color: rgba(4, 115, 220, 0.9) }
}