:root{
  --c-black: #000;
  --c-white: #fff;
  --c-blue: rgb(4, 115, 220);
  
  --p-fonts: system-ui, Helvetica, sans-serif;
  --s-fonts: Verdana;
}
  
@media (prefers-color-scheme: dark) {
  :root{
    --c-black: #fff;
    --c-white: #202020;
  }
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation: none !important;
    transition: none !important;
  }
}