.header {
  padding: 2em 0 1em 0;
  // background-color: lightblue;
  border-bottom: 1px solid lightgray;

  &__p {
    margin-bottom: 0.25em;
    font-size: 2em;
    font-weight: bold;
  }

  &__span {}
}