@use '../partials/mixins' as mx;

.main {

  &__div {
    margin: 2em 0;

    &--incomplete {}
    &--completed .li__h3 { opacity: 0.3; }
  }
  &__p {
    margin: 2em 0;
    font-weight: bold;
  }
  &__ul {}
  &__li {
    margin: 1em 0;
    @include mx.flex(row, nowrap, flex-start, center);
    gap: 1em;
  }
  &__button {}
}

.li {
  &__div {}
  &__input {
    width: 1.5625em;
    height: 1.5625em;
    border: 2px solid lightgray;
    border-radius: 0.5em;
    flex-shrink: 0;

    &:checked { background-color: blue; }
  }
  &__h3 { font-weight: bold; }
  &__span {
    font-size: 0.8em;
    opacity: 0.8;
  }
}

.button {
  width: 4.6875em;
  height: 4.6875em;
  position: fixed;
  bottom: 1em;
  right: 1em;
  @include mx.flex(row, nowrap, center, center);
  background-color: blue;
  border-radius: 50%;
  cursor: pointer;

  &__span {
    width: 0.1875em;
    height: 1.875em;
    position: absolute;
    background-color: var(--c-white);

    &--90deg { transform: rotate(90deg); }
  }
}