@use '../partials/mixins' as mx;

.modal {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  display: none;

  &--active { display: initial; }
  
  &__form {
    width: 100%;
    height: 100%;
    @include mx.flex(column, nowrap, center, center);
    gap: 2em;
    background-color: var(--c-white)
  }
  &__input {
    width: 80%;
    padding: 1em;

    &--task{
      height: 60%;
      border: 1px solid var(--c-black);
    }
    &--topic{
      height: 3rem;
      top: 6rem;
      left: 10%;
      border-bottom: 1px solid var(--c-black);
    }
  
    &::placeholder {
      font-size: 1.5rem;
      color: var(--c-black);
    }
  }
  &__button {
    width: 80%;
    padding: 0.5em 1.5em;
    border: 1px solid var(--c-black);
    cursor: pointer;
  }
  &__div {}
}

.closebtn {
  width: 50px;
  height: 50px;
  @include mx.flex(row, nowrap, center, center);
  position: absolute;
  top: 1em;
  right: 1em;
  border-radius: 50%;
  cursor: pointer;
  transition: all 200ms ease;

  &::before {
    content: '';
    width: 33px;
    height: 2px;
    position: absolute;
    background-color: var(--c-black);
    transform: rotate(-45deg);
  }
  &::after {
    content: '';
    width: 33px;
    height: 2px;
    position: absolute;
    background-color: var(--c-black);
    transform: rotate(45deg);
  }
  &:hover { transform: rotate(180deg); }
}